<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>logindemo01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 错误页面 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404.jsp</location>
  </error-page>
  
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.lcs.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/user/changePassword.jsp</url-pattern>
    <url-pattern>/user/queryUserPage.jsp</url-pattern>
    <url-pattern>/user/userInfoManager.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.lcs.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lcs.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryServlet</display-name>
    <servlet-name>PageQueryServlet</servlet-name>
    <servlet-class>com.lcs.web.PageQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryServlet</servlet-name>
    <url-pattern>/pageQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRoleServlet</display-name>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <servlet-class>com.lcs.web.ChangeRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRoleServlet</servlet-name>
    <url-pattern>/changeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.lcs.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelBatchServlet</display-name>
    <servlet-name>DelBatchServlet</servlet-name>
    <servlet-class>com.lcs.web.DelBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBatchServlet</servlet-name>
    <url-pattern>/delBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUsernameServlet</display-name>
    <servlet-name>ChangeUsernameServlet</servlet-name>
    <servlet-class>com.lcs.web.ChangeUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUsernameServlet</servlet-name>
    <url-pattern>/changeUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeNicknameServlet</display-name>
    <servlet-name>ChangeNicknameServlet</servlet-name>
    <servlet-class>com.lcs.web.ChangeNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNicknameServlet</servlet-name>
    <url-pattern>/changeNickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserInfoServlet</display-name>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <servlet-class>com.lcs.web.LoginUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <url-pattern>/loginUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwServlet</display-name>
    <servlet-name>ChangePwServlet</servlet-name>
    <servlet-class>com.lcs.web.ChangePwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwServlet</servlet-name>
    <url-pattern>/changePw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameServlet</display-name>
    <servlet-name>CheckNameServlet</servlet-name>
    <servlet-class>com.lcs.web.CheckNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameServlet</servlet-name>
    <url-pattern>/checkName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lcs.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>